.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6em;

  p {
    font-size: 1.1em;
    font-weight: 500;
  }

  .quantity {
    border: 1px solid var(--btn-bg);
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    padding: 0.2em 1em;

    span {
      font-size: 1.3em;
    }

    button {
      font-size: 1.5em;
      &:hover {
        cursor: pointer;
      }
    }

    .decrease {
      color: var(--text-secondary);
      font-size: 2em;
    }

    .increase {
      color: var(--text-tertiary);
    }
  }
}
