.root {
  height: 90vh;
  width: 100%;
  background: url("../../../assets/img/background.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    background-color: var(--bg-tertiary);
    width: 90%;
    max-width: 45em;
    padding: 2.5em 1.25em;
    text-align: center;
    backdrop-filter: blur(5px);

    .wrapper {
      max-width: 34em;
      margin: 0 auto;
      h1 {
        font-size: 2.5rem;
        margin-bottom: 0.5em;
        padding: 0 0.5em;
      }

      h2 {
        font-size: 1.125rem;
        font-weight: 500;
        margin-bottom: 2em;
      }

      .btn_container {
        max-width: 20em;
        margin: 0 auto;
      }
    }
  }
}

@media only screen and (min-width: 64em) {
}
