.root {
  position: relative;
  width: 100%;
  z-index: 999;
  background-color: var(--bg-primary);

  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1.8em 1.8em;
    align-items: center;
    position: relative;
    background-color: var(--bg-primary);

    .logo {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
    }

    .cart_container {
      display: flex;
      gap: 1em;

      a {
        display: flex;
      }
    }
  }

  .menu_list {
    position: absolute;
    bottom: 0;
    transform: translateY(-100%);
    transition: 1s;
    left: 0;
    width: 100%;
    padding: 1.4em 3.75em;
    z-index: -1;
    background-color: var(--bg-primary);
    border-top: 1px solid rgb(204, 204, 204);

    &.active {
      transform: translateY(100%);
    }
  }

  .menu_desktop {
    display: none;
  }

  .menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.25em;

    li {
      font-size: 1.5rem;
      a {
        color: var(--text-primary);
        text-decoration: none;
      }
    }
  }
}

@media only screen and (min-width: 64em) {
  .root {
    .wrapper {
      margin: 0 auto;
      max-width: 70em;
      display: flex;
      justify-content: space-between;

      .menu_btn {
        display: none;
      }

      .logo {
        position: relative;
        left: 0;
        transform: none;
      }

      .menu_desktop {
        display: block;

        ul {
          display: flex;
          gap: 3em;
          flex-direction: row;

          li {
            font-size: 1rem;
          }
        }
      }
    }

    .menu_list {
      display: none;
    }
  }
}
