.root {
  padding: 3.125em 1em;
  text-align: center;

  h3 {
    font-size: 2.5rem;
    margin-bottom: 0.4em;
  }

  h4 {
    color: var(--text-secondary);
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 3em;
  }

  .products {
    margin-bottom: 3em;
  }
}
