.root {
  padding: 3.125em 1em;
  text-align: center;

  h4 {
    color: var(--text-secondary);
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 3em;
  }

  .products {
    margin-bottom: 3em;
  }
}

@media only screen and (min-width: 64em) {
  .root {
    margin: 0 auto;
    max-width: 70em;

    .products {
      display: grid;
      gap: 2em;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
