:root {
  --bg-primary: hsla(0, 0%, 100%, 1);
  --bg-secondary: hsl(0, 0%, 15%);
  --bg-tertiary: hsl(220, 20%, 97%);
  --bg-quaternary: hsl(148, 44%, 55%, 0.1);

  --text-primary: hsla(216, 74%, 17%, 1);
  --text-secondary: hsla(218, 19%, 45%, 1);
  --text-tertiary: hsla(147, 37%, 52%, 1);
  --text-quaternary: hsla(0, 0%, 100%, 1);
  --text-error: rgb(190, 2, 2);

  --btn-bg: hsla(147, 37%, 52%, 1);
  --btn-text: hsla(0, 0%, 100%, 1);
}
