.root {
  margin: 0 1em;
  .desktop_preview {
    display: none;
  }

  .summary_info {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    border: 1px solid hsla(0, 0%, 90%, 1);
    border-radius: 6px;
    padding: 1em 1.2em;

    .summary_contact,
    .summary_shipping {
      display: flex;
      align-items: center;
    }

    p {
      font-size: 0.9rem;
      color: var(--text-secondary);
      margin-right: 0.5em;
      font-weight: 500;
    }

    span {
      font-size: 0.9rem;
    }
  }

  .shipping_method {
    margin-top: 2em;

    .shippings {
      display: flex;
      flex-direction: column;
      gap: 0.8em;
      margin-top: 2em;
      padding: 1em 1.5em;
      border-radius: 5px;
      border: 1px solid hsla(0, 0%, 90%, 1);

      .shipping_type {
        display: flex;
        justify-content: space-between;

        .radio_label {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1em;
        }

        input {
          height: 1.2em;
          width: 1.2em;
        }

        span {
          font-weight: 500;
        }
      }
    }
  }

  .btn_container {
    margin-top: 2em;
  }

  .line {
    content: "";
    background-color: hsla(0, 0%, 90%, 1);
    height: 1px;
    width: 100%;
  }
}

@media only screen and (min-width: 64em) {
  .root {
    display: flex;
    max-width: 90em;
    margin: 0 auto;
    gap: 5em;

    .content {
      width: 100%;
    }

    .mobile_preview {
      display: none;
    }

    .desktop_preview {
      width: 100%;
      background-color: var(--bg-tertiary);
      display: flex;
      flex-direction: column;
      gap: 2em;
      justify-content: center;
      align-items: center;
      height: 85vh;

      & > div {
        width: 100%;
        justify-content: space-around;
        padding-bottom: 1em;
        border-bottom: 1px solid rgb(217, 219, 223);
        width: 85%;
        margin: 0 auto;
      }
      .total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        width: 70%;
        margin: 0 auto;

        p {
          font-weight: 500;
        }
      }
    }
  }
}
