.root {
  padding: 2.5em 1em 2em 1em;

  input {
    width: 100%;
    padding: 0.8em 1.2em;
    border-radius: 0;
    border: 1px solid hsla(0, 0%, 90%, 1);
    font-size: 0.9rem;
    color: var(--text-secondary);

    &:focus {
      outline: 1px solid var(--text-tertiary);
    }
  }

  .contact {
    h2 {
      font-size: 1.5rem;
      margin-bottom: 0.8em;
    }
  }

  .discount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;

    input {
      height: 1em;
      width: 1em;
    }

    label {
      font-size: 0.9rem;
    }
  }

  .shipping {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    margin-top: 2em;

    .input_divide {
      display: flex;
      flex-direction: column;
      gap: 0.8em;
      .input_item {
        display: flex;
        flex-direction: column;
        gap: 0.2em;
      }
    }

    .dropdown {
      width: 100%;
      padding: 0.8em 1.2em;
      border-radius: 0;
      border: 1px solid hsla(0, 0%, 90%, 1);
      font-size: 0.9rem;
      color: var(--text-secondary);
    }
  }

  .btn_container {
    margin-top: 3em;
  }

  .error {
    color: var(--text-error);
    font-size: 0.8rem;
    margin-top: 0.5em;
  }
}

@media only screen and (min-width: 64em) {
  .root {
    padding-top: 0;

    .shipping {
      .input_divide {
        flex-direction: row;
        .input_item {
          width: 50%;
        }
      }
    }
  }
}
