.root {
  .summary_product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-tertiary);
    padding: 2em 1em 2em 1em;

    p {
      color: var(--text-tertiary);
      font-size: 1.25rem;
    }

    .amount {
      font-weight: 500;
      font-size: 1.25rem;
    }
  }
}
